@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{box-sizing:border-box ;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}
body{
    position:static;
    background-color: rgb(59,53,56);
    background-image: url(https://wallpaperaccess.com/full/517372.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    
}
.dd{ background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.dd :hover{
    background-color: rgb(0, 0, 0);
    color: rgb(37, 214, 117);
}
.nav a{
    
    margin:10px 10px 0px 0px;
}
footer{
    background-color: darkgrey;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position:sticky;
    top: 100%;
    
}
.material-symbols-outlined {
    
    color: aqua;
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 100,
  
}
#contain{
    position: relative;
    background-color: black;
    background-repeat: no-repeat;
    background-size:cover;
    height: auto;
    top: auto;
    bottom: auto;
    width: 60%; 
   margin: auto;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px;
    display: flex;
    align-self: center;
   
    
}
#sma{
  
    height: 100%;
    width: 60%;
    margin:0px;
    padding: 0px;
    border-radius: 10px;
    text-align: center;  
        
}
#img{
   height: 100%;
   width: 100%;
   margin:0px;
   padding: 0px; 
   border-radius: 10px;
}

.t {
    font-family: "Playfair Display", serif;
    list-style-type:none ;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

 #s{
    position:absolute;
    color: beige;
   animation-name:ani;
   animation-duration: 3s;
   animation-timing-function: ease-in-out;
   animation-delay: 0ms;
   animation-iteration-count: infinite;
   animation-direction:normal;

}
@keyframes ani{
    from{top: 90%;}
    to{top: 20%;}
}
button{
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-style: italic;
   margin-left: 40%;
   margin-top: 20%;
border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 50px;
}
button a{
    text-decoration: none;
    text-decoration-line: none;
}
button :hover{
    color: aquamarine;
    background-color: rgb(7, 7, 7);
}






